{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1 ">

    <title>
        {% block title %}
            Penny Wise
        {% endblock %}
    </title>
    {% comment %} Load css and js for backtest.html {% endcomment %}
    <link rel = 'stylesheet' href = "{% static 'base/backtest.css' %}">
    <script src = "{% static 'base/backtest.js' %}"  defer></script>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
    {% comment %} Load css and js for monte_carlo_simulation.html {% endcomment %}
    
    {% comment %} <link
        rel = "stylesheet"
        href = "{% static 'base/css/dashboard.css' %}"
    > {% endcomment %}

    {% comment %} <script
        src = "{% static 'base/js/dashboard.js' %}"
        defer
    ></script> {% endcomment %}
</head>

<body>
    <header class = "site-header">
        <div class = "site-header__inner">
            {% comment %} <a href = "{% url 'dashboard' %}" class = "brand">
                PennyWise
            </a> {% endcomment %}

            <nav class = "main-navigation" aria-label = "Main Navigation">
                {% comment %} <a
                    href = "{% url 'dashboard' %}"
                    class = "main-navigation__link main-navigation__link--active"
                > 
                Market
            </a> {% endcomment %}

            {% comment %} <a href = "{% url 'Backtest' %}" class = "main-navigation__link">
                Backtest
            </a> {% endcomment %}

            {% comment %} <a href = "{% url 'Porfolio' %}" class = "main-navigatioon__link">
                Portfolio
            </a> {% endcomment %}
            </nav>
        </div>
    </heaader>

    <main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>

