{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1 ">

    <title>
        {% block title %}
            Penny Wise
        {% endblock %}
    </title>
</head>

<body>
    <header class = "site-header">
        <div class = "site-header__inner">
            {% comment %} <a href = "{% url 'dashboard' %}" class = "brand">
                PennyWise
            </a> {% endcomment %}

            <nav class = "main-navigation" aria-label = "Main Navigation">
                {% comment %} <a
                    href = "{% url 'dashboard' %}"
                    class = "main-navigation__link main-navigation__link--active"
                > 
                Market
            </a> {% endcomment %}

            {% comment %} <a href = "{% url 'Backtest' %}" class = "main-navigation__link">
                Backtest
            </a> {% endcomment %}

            {% comment %} <a href = "{% url 'Porfolio' %}" class = "main-navigatioon__link">
                Portfolio
            </a> {% endcomment %}
            </nav>
        </div>
    </heaader>

    <main>
    {% block content %}
    <link rel = 'stylesheet' href = "{% static 'base/variables.css' %}">
    {% endblock %}
</main>
</body>
</html>

