{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1 ">

    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>

    <nav class="navbar">
        <a href="/" class="brand">
            <span class = "brand-icon">↗</span>
            PennyWise
        </a>

        <div class="nav-links">
            <a href = "/dashboard" class="nav-link active">Dashboard</a>
            <a href = "/backtest" class="nav-link active">Backtest</a>
            <a href="/portfolio" class = "nav-link active">Portfolio</a>
        </div>

    </nav>

    <link
        rel="stylesheet"
        href="{% static 'base/navbar.css' %}"
    >

    <link
        rel = "stylesheet"
        href = "{% static 'base/dashboard.css' %}"
    >

    <script
        src = "{% static 'base/dashboard.js' %}"
        defer
    ></script>

    <script
        src = "{% static 'base/stock.js' %}"
        defer
    ></script>
    <link rel = 'stylesheet' href = "{% static 'base/variables.css' %}">
    <link rel = 'stylesheet' href = "{% static 'base/component.css' %}">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>