{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<link rel = 'stylesheet' href = "{% static 'base/variables.css' %}">
<link rel = "stylesheet" href = "{% static 'base/dashboard.css' %}">
<link rel = 'stylesheet' href = "{% static 'base/component.css' %}">
<script src = "{% static 'base/dashboard.js' %}" defer></script>
<script src = "{% static 'base/stock.js' %}" defer></script>
<section class = "market-hero">
    <div class =  "page-container market-hero__inner">
        <div>
            <p class = "eyebrow"> Market activity </p>

            <h1>U.S. Stocks</h1>

            <p class = "market-hero__description">
                Heatmap for stocks
            </p>
        </div>
    </div>
</section>

{% if not accounts %}
    <section class = "empty-state">
        <h2>No paper accounts yet</h2>

        <p>
            Create a paper account to start simulated trades
        </p>

        <a
            href = "{% url 'create_paper_account' %}"
            class = "primary-button">
        Create paper account
        </a>
    </section>
{% else %}
    <section class = "account-summary">
        <form 
            method = "get"
            action = "{% url 'dashboard' %}"
            class = "account-selector">
            <div class = "form-field">
                <label for="account">
                    Selected account
                </label>

                <select id = "account" name = "account" onchange="this.form.submit()">
                    {% for account in accounts %}
                        <option
                            value="{{ account.id }}"
                            {% if selected_account.pk == account.pk %}
                                selected
                            {% endif %}
                        >
                            {{ account.name }}
                            {{ account.cash_balance }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="secondary-button">
                View account
            </button>
        </form>
        <a
            href="{% url 'create_paper_account' %}"
            class = "primary-button"
        >
        Create another account
        </a>
    </section>

    <div class="summary-card">
        <span class = "summary-label">
            Starting balance
        </span>

        <strong>
            USD ${{ selected_account.initial_capital|floatformat:2 }}
        </strong>

        <div class="summary-card">
            <span class=""summary-label>
                Available cash
            </span>

            <strong>
                USD ${{ selected_account.cash_balance|floatformat:2 }}
            </strong>
        </div>
    </div>
{% endif %}

<section class = "page-container heatmap-section">
    <div class = "section-heading">
        <div>
            <p class = "eyebrow">Heat map</p>
            <h2>Most active stocks</h2>
        </div>

        <div class = "activity-values">
            <div class = "activity-value">
                <h3>Top 5 in Share volume</h3>
                <table class = "activity-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Stock</th>
                            <th>Volume traded</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in most_active_traded %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stock.ticker }}</td>
                                <td>{{ stock.latest_volume }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan = "3">No price data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class = "activity-value">
                <h3>Top 5 in Dollar Volume</h3>
                <table class = "activity-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Stock</th>
                            <th>Volume traded</th>
                        </tr>
                    </thead>
                    <body>
                        {% for stock in most_active_traded %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stock.ticker }}</td>
                                <td>{{ stock.latest_volume }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan = "3">No price data available</td>
                            </tr>
                        {% endfor %}
                    </body>
                </table>
            </div>
        </div>
    </div>
</section>

<section class = "stock-search-section">
    <div class = "page-container">
        <div class = "section-heading">
            <div>
                <p class = "eyebrow">S&P 500 Stock search</p>
                <h2>Search a stock</h2>
            </div>
        </div>

        <form method = "get" class = "stock-search-form">
            <div class = "stock-search__primary">
                <label for= "stock-search-input" class = "symbol-only">
                    Search by ticker
                </label>

                <div class = "search-input-wrapper">
                    <svg
                        viewBox = "0 0 24 24"
                        aria-hidden = "true"
                        class = "search-symbol">
                        <path
                            d = "m21 21-4.35-4.35m2.35-5.65a8 8 0 1 1-16 0 8 8 0 0 1 16 0Z"
                            ></path>
                    </svg>
                    <input 
                        id = "stock-search-input"
                        type="search"
                        name="q"
                        value = "{{ filters.q }}"
                        placeholder="Search by ticker"
                        >
                </div>
                <button type = "submit" class = "primary-button">
                    Search
                </button>

                <button
                    type = "button"
                    class = "secondary-button"
                    data-filter-toggle
                    aria-expanded = "false"
                    >
                    Advanced Search
                </button>
            </div>
        </form>

        <div class="stock-table-wrapper">
            <table class = "stock-table">
                <thead>
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Company</th>
                        <th scope="col" class="price-column">Price</th>
                        <th scope="col" class="change-column">Change</th>
                        <th scope="col" class="percentage-column">Percentage Change</th>
                        <th scope="col" class="volume-column">Volume</th>
                    </tr>
                </thead>

                <tbody>
                    {% for stock in page %}
                    <tr
                        class = "link-to-stock"
                        data-href = "{% url 'stock' %}?symbol={{ stock.ticker|urlencode }}"
                        tabindex="0"
                        role="link"
                        aria-label="view details for {{ stock.ticker }}">
                        <td>
                            <div class = "stock-ticker">
                                {{ stock.ticker }}
                            </div>
                        </td>

                        <td>
                            <div class="company-name">
                                {{ stock.name }}
                            </div>
                        </td>

                        <td class ="price-column">
                            {% if stock.latest_price is not None %}
                                ${{ stock.latest_price }}
                            {% endif %}
                        </td>

                        <td class= "change-column">
                            {% if stock.price_change is not None %}
                                {% if stock.price_change > 0 %}
                                    +
                                {% else %}
                                    -
                                {% endif %}
                                {{ stock.price_change }}
                            {% endif %}
                        </td>

                        <td class = "percentage-column">
                            {% if stock.percentage_change is not None %}
                                {% if stock.percentage_change > 0 %}
                                    +
                                {% else %}
                                    -
                                {% endif %}
                                {{ stock.percentage_change }}
                            {% endif %}
                        </td>

                        <td class = "volume-column">
                            {% if stock.latest_volume is not None %}
                                {{ stock.latest_volume }}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            <div class = "empty">
                                No stocks matched your filters
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if page.paginator.num_pages > 1 %}
            <nav class = "paginator" aria-label = "Stock results pages">
                {% if page.has_previous %}
                    <a
                        class = "pagination__button"
                        href = "?page={{ page.previous_page_number }}&q={{ filters.q}}"
                        >
                        Previous
                    </a>
                {% else %}
                    <span class="pagination__button pagination__button--diabled">
                        Previous
                    </span>
                {% endif %}

                <span class = "pagination_status">
                    Page {{ page.number }}
                    of {{ page.paginator.num_pages }}
                </span>

                {% if page.has_next %}
                    <a
                        class = "pagination__current"
                        href = "?page={{ page.next_page_number }}&q={{ filters.q }}"
                        >
                        Next
                    </a>
                {% else %}
                    <span class="pagination__button pagination__button--diabled">
                        Next
                    </span>
                {% endif %}
            </nav>
        {% endif %}
    </div>
</section>
{% endblock %}



















<!-- <!DOCTYPE html>
<html>
<head>
    <title>Backtest Dashboard</title>
</head>
<body>
    <h1>Backtest Dashboard</h1>

    <form method = "post", action = "{% url 'run_backtest' %}">
        {% csrf_token %}

        <div>
            <label for="ticker">Ticker</label>
            <input type="text" id="ticker" name="ticker" placeholder="add a ticker">
        </div>

        <div>
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" name="start_date" placeholder="2025-02-02">
        </div>

        <div>
            <label for="end_date">End Date</label>
            <input type="date" id="end_date" name="end_date" placeholder="2025-02-02">
        </div>

        <button type="submit" style="font-size:  30px;">
            Run Backtest
        </button>
    </form>

</body> -->

























</html>