{% extends "base/base.html" %}
{% load static %}
{% comment %} Creates title of page {% endcomment %}
{% block title %}
    Monte Carlo Simulator
{% endblock %}
{%block content%}
<link rel = 'stylesheet' href = "{% static 'base/css/variables.css' %}">
<link rel = 'stylesheet' href = "{% static 'base/css/backtest.css' %}">
<link rel = 'stylesheet' href = "{% static 'base/css/component.css' %}">
<script src = "{% static 'base/js/monte_carlo_simulation.js' %}"  defer></script>
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>

{% comment %} Creating a header for the page {% endcomment %}
<section class = "market-hero">
    <div class =  "page-container market-hero__inner">
        <div>
            <p class = "eyebrow"> My model has high variance, but my laptop fan has high velocity.</p>

            <h1>Pennywise Monte Carlo Simulator!</h1>
        </div>
    </div>
</section>
{% comment %} Store the buttons, input, and output grids in a flex column {% endcomment %}
<div class="flex-column-container" id="input_wrapper" name="input_wrapper">

    {% comment %} Div to store buttons {% endcomment %}
    <div class="flex-row-container">
        {% comment %} Button to quicktest with random parameters {% endcomment %}
        <div>
        <button class="flex_item button"  type="button" id="quicktest_all_btn">Quicktest All</button>
        </div>
        {% comment %} Button to quicktest with random parameters {% endcomment %}
        <div>
        <button class="flex_item button"  type="button" id="quicktest_input_btn">Quicktest Input</button>
        </div>
        {% comment %} Button to run mcs simulations {% endcomment %}
        <div class=window1 id="run_mcs_btn_container" name="run_mcs_btn_container">
            <button class=button id="run_mcs_btn" name="run_mcs_btn">Run MCS</button>
        </div>

    </div>
    {% comment %} Description container {% endcomment %}
    <div id="description_container" >
        <div class="flex-row-description" id="breakout_description">
            <div class="activity-value flex-item-text">
                <p>
                    A Monte Carlo Simulation is a way of testing the robustness of a trading strategy.
                     Basically, it asks the question, "This strategy trades well for this situation, 
                     but would it trade well in an alternate situation?"    
                </p>
                <p>
                    First it generates plausible random versions of the original price history of the asset. 
                    Then it performs the backtesting strategy on the randomized data.
                </p>
                <p>
                    Afterwards the results are represented as a distribution. Representing the likelihood of 
                    the strategy performing well in different situations.
                </p>
            </div>
            {% comment %} <div class="activity-value flex-item-img">
                <img src= "{% static 'base/img/breakout.jpg' %}"
                alt="Oops! Failed to load image.">
            </div> {% endcomment %}
        </div>
    </div>
    {% comment %} Container for inputs {% endcomment %}
    <div class='container grid-container' name="input_container" id="input_container">
        <div class='input-field activity-value' >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "Jump Diffusion">
            Jump Diffusion:
            </span>
            <input type="checkbox" id="is_jump_diffusion" name="Jump Diffusion">
        </div>
        <div class='input-field activity-value' >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "Jump Diffusion">
            Regime Switching:
            </span>
            <input type="checkbox" id="is_regime_switching" name="Regime Switching">
        </div>
        <div class='input-field activity-value' >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "T">
            T Distribution:
            </span>
            <input type="checkbox" id="is_t" name="is_t">
        </div>
        <div class='input-field activity-value' >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "">
            Number Of Simulation:
            </span>
            <input type="number" placeholder="E.g. 50-200" id="num_sims" name="Number Of Simulations">
        </div>
        <div class='input-field activity-value' style="display:none;">
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "">
            Degree Of Freedom:
            </span>
            <input type="number" placeholder="E.g. integer > 2"id="df" name="Degree Of Freedom">
        </div>
        <div class='input-field activity-value' style="display:none;" >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "">
            Yearly Expected Number Of Jumps:
            </span>
            <input type="number" id="exp_jumps" name="Expected Number Of Jumps">
        </div>
        <div class='input-field activity-value' style="display:none;" >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "">
            Average Jump Size:
            </span>
            <input type="number" id="mean_log_jump_size" name="Average Jump Size">
        </div>
        <div class='input-field activity-value' style="display:none;" >
            <span
            class= "term-tip term-tip--left term-tip--above"
            tabindex= "0"
            data-tooltip= "">
            Standard Deviation Of Jumps:
            </span>
            <input type="number" id="std_log_jump_size" name="Standard Deviation Of Jumps">
        </div>
    </div>
    {% comment %} Output table Invisible in base state{% endcomment %}
    <table class="output-container activity-table" style="display:none;" id="output_container">
        <caption>Probability Distribution Of Simulation!</caption>
        <thead>
            <tr>
                <th>Metric</th>
                <th>Original</th>
                <th>Median</th>
                <th>Mean</th>
                <th>Variance</th>
                <th>Minimum</th>
                <th>Maximum</th>
                <th>10th Percentile</th>
                <th>25th Percentile</th>
                <th>50th Percentile</th>
                <th>75th Percentile</th>
                <th>90th Percentile</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% comment %} Stores the mcs graph {% endcomment %}
    <div class=graph id="mcs_graph_container" name="mcs_graph_container">
    </div>

    {% comment %} Div for progress bar {% endcomment %}
    <div class='progress-wrapper' style="display:none;" id="progress-wrapper">
        <div class='loading-text'>Backtest Not Run</div>
        <div class='progress-container'>
            <div class='progress-bar'>0%
            </div>
        </div>

</div> 

</div>
{% endblock%}