{% extends "base/base.html" %}
{% load static %}
{% comment %} Creates title of page {% endcomment %}
{% block title %}
    Monte Carlo Simulator
{% endblock %}
{%block content%}
<link rel = 'stylesheet' href = "{% static 'base/css/variables.css' %}">
<link rel = 'stylesheet' href = "{% static 'base/css/backtest.css' %}">
<link rel = 'stylesheet' href = "{% static 'base/css/component.css' %}">
<script src = "{% static 'base/css/monte_carlo_simulation.js' %}"  defer></script>
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>

{% comment %} Creating a header for the page {% endcomment %}
<section class = "market-hero">
    <div class =  "page-container market-hero__inner">
        <div>
            <p class = "eyebrow"> Behind The Door?</p>

            <h1>Pennywise Monte Carlo Simulator!</h1>
        </div>
    </div>
</section>
{% comment %} Store the buttons, input, and output grids in a flex column {% endcomment %}
<div class="flex-column-container" id="input_wrapper" name="input_wrapper">
    {% comment %} Button to run mcs simulations
    <div class=window1 id="run_mcs_btn_container" name="run_mcs_btn_container">
        <button class=button id="run_mcs_btn" name="run_mcs_btn">Run MCS</button>
    </div> {% endcomment %}
    {% comment %} Store in a div the buttons to press {% endcomment %}
    <div class="flex-row-container">
        {% comment %} Button to quicktest with random parameters {% endcomment %}
        <div>
        <button class="flex_item button"  type="button" id="quicktest_btn">Quicktest</button>
        </div>

        {% comment %} Button to run mcs simulations {% endcomment %}
        <div class=window1 id="run_mcs_btn_container" name="run_mcs_btn_container">
            <button class=button id="run_mcs_btn" name="run_mcs_btn">Run MCS</button>
        </div>

    </div>
    {% comment %} Input grid {% endcomment %}
    <p class="header1">Choose parameters for simulation</p>
    <div class="grid-container" id="input_container">
        <div class="param_element activity-value input-field checkbox_container" id="jump_diffusion_div">
            <label for="is_jump_diffusion">Jump Diffusion:
                <input type="checkbox" id="is_jump_diffusion" name="Jump Diffusion">
                {% comment %} <span class="checkmark"></span> {% endcomment %}
            </label>
        </div>

        <div class="param_element activity-value input-field checkbox_container" id="regime_switching_div">
            <label for="is_regime_switching">Regime Switching:
                <input type="checkbox" id="is_regime_switching" name="Regime Switching">
                {% comment %} <span class="checkmark"></span> {% endcomment %}
            </label>
        </div>

        <div class="param_element activity-value input-field checkbox_container" id="is_t_div">
            <label for="is_t">T Distribution:</label>
                <input type="checkbox" id="is_t" name="T Distribution">
                {% comment %} <span class="checkmark"></span> {% endcomment %}
            </label>
        </div>

        <div class="param_element activity-value input-field" id="num_sims_div">
            <label for="num_sims" placeholder="E.g. 5, 10">Number of Simulations:
                <input type="number" id="num_sims" name="Number of Simulations"><br>
            </label>
        </div>

        <div class="param_element activity-value input-field" id="df_div" style="display:none;">
            <label for="df" placeholder="5">Degree of Freedom:
                <input type="number" id="df" name="Degree of Freedom">
            </label>
        </div>

        <div class="param_element activity-value input-field" id="exp_jumps_div" style="display:none;">
            <label for="exp_jumps" placeholder="E.g. 1, 2">Yearly Expected Number of Jumps:
                <input type="number" id="exp_jumps" name="Yearly Expected Number of Jumps">
            </label>
        </div>

        <div class="param_element activity-value input-field" id="mean_log_jump_size_div" style="display:none;">
            <label for="mean_log_jump_size" placeholder="E.g. 0.05">Average Log Jump Size:
                <input type="number" id="mean_log_jump_size" name="Average Log Jump Size">
            </label>
        </div>

        <div class="param_element activity-value input-field" id="std_log_jump_size_div" style="display:none;">
            <label for="std_log_jump_size" placeholder="E.g. 0.15">Average Log Jump Volatility:
                <input type="number" id="std_log_jump_size" name="Average Log Jump Volatility">
            </label>
        </div>
    </div>

    {% comment %} Output table Invisible in base state{% endcomment %}
    <table class="output-container" style="display:none;" id="output_container">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Mean</th>
                <th>Median</th>
                <th>Variance</th>
                <th>Minimum</th>
                <th>Maximum</th>
                <th>10th Percentile</th>
                <th>25th Percentile</th>
                <th>50th Percentile</th>
                <th>75th Percentile</th>
                <th>90th Percentile</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


{% comment %} Stores the mcs graph {% endcomment %}
<div class=graph id="mcs_graph_container" name="mcs_graph_container">
</div>
{% endblock%}