/* Change background colour */


#view_mcs_button:disabled {
  pointer-events: none;
  color: grey;
}


/* ---Backtest Specific elements */
.input-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 16px 24px;
    max-width: 40%;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 240px;
    box-sizing: border-box;
}

.input-field label {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-primary);
}

.input-field input {
    font-size: 0.8rem;
    font-weight: 50;
    color: var(--text-secondary);
    border-radius: 10px;
    background-color: var(--surface-secondary);
    border-color:var(--border-primary) ;
    border-width: var(--radius-small);
}

