/* Change background colour */


#view_mcs_button:disabled {
  pointer-events: none;
  color: grey;
}


/* ---Backtest Specific elements */
.output-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 16px 24px;
    max-width: 40%;
}
.input-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 16px 24px;
    max-width: 40%;
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 240px;
    box-sizing: border-box;
}

.output-field{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 240px;
    box-sizing: border-box;
}

.output-field h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-primary);
}

.output-field p{
    font-size: 1rem;
    font-weight: 100;
    color: var(--text-secondary);
    background-color: var(--surface-secondary);
}

.input-field label {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-primary);
}

.input-field input {
    font-size: 0.8rem;
    font-weight: 50;
    color: var(--text-secondary);
    border-radius: 10px;
    background-color: var(--surface-secondary);
    border-color:var(--border-primary) ;
    border-width: var(--radius-small);
}

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
}

.flex_container > * {
    flex: 1 1 50%;
    box-sizing: border-box;
}
